.video {
    position: relative;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    background-color: white;
}

.video__player {
    background-color: black;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.video__volume {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
}

.video__volumeIconButton > span {
    color: white;
}

.video__volumeIconButton {
    padding: 0 !important;
}