.videoSidebar {
    position: absolute;
    top: 40%;
    right: 10px;
    color: white;
}

.videoSidebar__button {
    padding: 20px;
    text-align: center;
}

.videoSidebar__iconButton > span {
    color: white;
}

.videoSidebar__iconButton {
    padding: 0 !important;
}